{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>{% block title %}{% endblock %}</title>

    <!-- Pico.css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
      />
    <link rel="stylesheet" href="{% static 'eli_app/conversation.css' %}"/>
    <script type="text/javascript" src="{% static 'eli_app/conversation.js' %}"></script>
    {% block styles %}{% endblock %}
  </head>

  <body>
    <header class="container">
      <hgroup>
        <h1>ELI</h1>
        <p>Explain Like I'm ...</p>
      </hgroup>
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
