{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
    <meta property="og:url" content="{{ request.get_full_path }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://banner2.cleanpng.com/20180602/vj/avosj1n3q.webp"/>
    {% block head %}{% endblock %}
  </head>

  <body>
    <div id="root"/>
    <script src="{% static 'jsx/index.js' %}"></script>
  </body>
</html>
