{% extends "eli_app/base.html" %}

{% block content %}

{% if conversation %}

{% include "eli_app/conversation_quote.html" with object=conversation %}
{% endif %}


<form method="post">
  {% csrf_token %}
  
  {% for field in form %}
  {% if field.name != "query" %}
  <div>
    {{ field.label_tag }} {{field}}
    {% endif %}
  </div>
  {% endfor %}
  
  <div class="query">
    {{form.query}}
    <input class="contrast material-icons" type="submit" value="send">
  </div>
</form>

{% endblock %}
