$family-primary:
  Inter,
  SF Pro,
  Segoe UI,
  Roboto,
  Oxygen,
  Ubuntu,
  Helvetica Neue,
  Helvetica,
  Arial,
  sans-serif;

$family-code:
  Inconsolata,
  Hack,
  SF Mono,
  Roboto Mono,
  Source Code Pro,
  Ubuntu Mono,
  monospace;

@use "bulma/sass";
@use "bulma/sass/utilities/mixins" as mixins;

.media-content .content {
  min-height: 64px;
}

.rule-list {
  list-style: inherit;
}

.is-loading {
  @include mixins.loader;
}

.media-left img {
  clip-path: circle(50%);
}

/* Render line breaks in text. */
.media-content p {
  white-space: pre-wrap;
}

.recent {
  position: relative;
}

.card-header-icon .icon {
  margin-left: 12px;
}

.suggestions,
.button-choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  button {
    margin-bottom: 8px;
  }
}

.conversation .generated-image {
  width: 256px;
  height: 256px;
  position: static;
  float: right;
  margin: 12px;

  img {
    position: static;
    border-radius: 0.5em;
    cursor: zoom-in;
  }
}

.conversation .modal-content {
  width: 100%;

  a {
    cursor: zoom-out;
  }
}
